DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
DB_HOST=node_db # Ou localhost se não quiser utilizar com outro container
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=postgres
JWT_SECRET=paste-the-generated-string-here
MASTER_KEY=paste-the-master-key

# https://dev.to/tkirwa/generate-a-random-jwt-secret-key-39j4