# .env
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
DB_HOST=node_db # localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=postgres
JWT_SECRET=paste-the-generated-string-here
MASTER_KEY=paste-the-master-key

# .env.test
DATABASE_URL="postgresql://postgres:1234@localhost:5433/teste_db?schema=public"
NODE_ENV=test

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"